/* body {
	font-family: Arial, sans-serif;
	background-color: purple;
	height: 100vh;
    width: 100vw;
	background-image: url("background_log.jpg");
	background-size: cover;
    background-position: center;
	overflow: hidden;

} */