<div class="register-box">
  <h2>Rejestracja</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
    

    <div class="user-box">
      <input type="text" formControlName="email" required>
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" formControlName="password" required>
      <label>Hasło</label>
    </div>
    <div class="user-box">
      <input type="password" formControlName="confirmPassword" required>
      <label>Powtórz hasło</label>
    </div>
    <a routerLink="/login">Masz już konto? Zaloguj</a>
    <div class="centerer">
      <button type="submit" class="register-button">Zarejestruj się</button>
    </div>
  </form>
  <div class="message" *ngIf="message">{{ message }}</div>
</div>
