<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rejestracja użytkownika</title>
  <link rel="stylesheet" type="text/css" href="registration.component.css">
</head>
<body>
  <div class="register-box">
    <h2>Rejestracja</h2>
    <form (submit)="registerUser()">

      <div class="user-box">
        <input type="text" name="email" required [(ngModel)]="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required [(ngModel)]="password">
        <label>Hasło</label>
      </div>
      <div class="user-box">
        <input type="password" name="confirmPassword" required [(ngModel)]="confirmPassword">
        <label>Powtórz hasło</label>
      </div>
      <a routerLink="/login">Masz już konto? Zaloguj</a>
      <div class="centerer">
        <button type="submit" class="register-button">Zarejestruj się</button>
      </div>
    </form>
  </div>
</body>
</html>
