<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Logowanie użytkownika</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
</head>
<body>

    <nav class="navbar">
		
    </nav>

    <div class="login-form-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    
</body>
</html>
