<nav class="navbar">
    <form action="#">
        <button class="logo-button">
            <strong class="strong">BDEflix</strong>
        </button>
    </form>

    <div class="navbar-links">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Movie</a></li>
            <li><a href="#">My List</a></li>
            <li><a href="#">My List</a></li>
        </ul>
    </div>
    <div class="nav-right-section">
        <a class="login-button" routerLink="/login">
            <button class="btn btn-primary">Login</button>
        </a>
		
        <form action="#" class="user_avatar">
            <button class="user_avatar_button">
                <img src="images/user_avatar.png" alt="xd">
                <div class="notifications">1</div>
            </button>
        </form>
    </div>
    

    
</nav>
<router-outlet></router-outlet> 
