<div class="products-list">
    <div class="product-border-hover">
      <a class="product" href="https://google.com">
        <img src="assets/test.jpg" alt="My Test Image">
      </a>
      <div class="product-name">
        series1
      </div>
    </div>
  
    <div class="product-border-hover">
      <a class="product" href="https://google.com">
        <img src="assets/series2.jpg" alt="Series 2">
      </a>
      <div class="product-name">
        series2
      </div>
    </div>
  
    <div class="product-border-hover">
      <a class="product" href="https://google.com">
        <img src="assets/series3.jpg" alt="Series 3">
      </a>
      <div class="product-name">
        series3
      </div>
      <div class="product-description">
        New!
      </div>
    </div>
  
    <div class="product-border-hover">
      <a class="product" href="https://google.com">
        <img src="assets/series4.jpg" alt="Series 4">
      </a>
      <div class="product-name">
        series4
      </div>                    
    </div>
  </div>
  