<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Rejestracja użytkownika</title>
	<link rel="stylesheet" type="text/css" href="forgot-password.component.css">
</head>
<body>
	<div class="register-box">
		<h2>Przypomnienie hasła</h2>
		<form>
			
            <div class="user-box">
				<input type="text" name="" required="">
				<label>Podaj Email:</label>
			</div>
            <a routerLink="/login">Masz już konto? Zaloguj</a>
            
			<div class="centerer">
				<a class="register-button" href="#">
					Przypomnij hasło
				</a>
			</div>
		</form>
	</div>
</body>
</html>